%span.s-inline-input{ class: "" }
  = label_tag "company[addresses_attributes][0][#{field_name}]", placeholder, class: '' 
  = text_field_tag "company[addresses_attributes][0][#{field_name}]", nil, { class: "js-input_#{field_name}" } 