- provide(:title, 'Code of Conduct')

.c-content
  = render 'm/shared/page_title', title: 'Code of Conduct', description: ''
.b-blog
  .c-content.static_page.code_of_conduct
    %p
      Welcome to
      %a{href: "http://glowfori.com"} 
        glowfori.com 
      a website and service owned and operated by Glowfori S.A.(
      %strong
        "[ Glowfori ]"
      ). 
      We are registered in Switzerland and have our registered office at Chemin Des Voiron 9, 1296-Coppet. 
    %p  
      The core principle of Glowfori is to create and maintain a 
      %strong
        Trusted Network 
      of companies around the world.   
      The integrity of the Glowfori global network is therefore a product of the conduct of each individual company member.   
      We take member conduct on the Site seriously and ask all members to work collectively to uphold the standards and integrity of the Glowfori community.  
      This document provides guidance on expected member conduct as well as guidance on your role as a member in the Glowfori community.

    %ul.main_nav_ul
      %li.main_code_nav
        %h3 1. Purpose
        %p 
          The Glowfori Code of Conduct sets out the expected professional standards and business ethics required by members of participating companies in the Glowfori community as a condition of membership.  
          This Code of Conduct applies to all members, irrespective of their membership grade, the role they fulfil, or the jurisdiction where they are employed or discharge their contractual obligations.  It governs the conduct of the individual representing their respective company, not the nature of the business or ethics of any Relevant Authority. 

        %b.terms_bold
          The term “Relevant Authority” in this document is used to identify the person(s) or organisation(s) which has / have authority over the activity of individuals in their professional capacity. For subscribed Glowfori members this is normally an employer. 

        %p 
          Members are expected to exercise their own judgement (which should be made in such a way as to be reasonably justified) to meet the requirements of the code and seek advice if in doubt.  
          Questions about the Code of Conduct can be directed to #{mail_to("tc@glowfori.com")}.

      %li.main_code_nav
        %h3 2. General Guidelines
        %p
          The Code of Conduct sets out certain, basic principles that are intended to help members maintain the highest standards of professional conduct. 
          Should a case arise where a member is believed to have fallen short of the standards desired, members are expected to notify Glowfori by email at #{mail_to("tc@glowfori.com")}.

      %li.main_code_nav
        %h3 3. Breaches 
        %p
          If a member should know of, or become aware of, any breach of this Code of Conduct by another member they are expected to notify Glowfori by email to address: #{mail_to("tc@glowfori.com")}.

        %p   
          Any breach of the Code of Conduct brought to the attention of Glowfori, or of which Glowfori becomes aware, will be investigated by the Site’s Administrators.  
          The Site Administrators may exercise, at their discretion, the appropriate remedial action which may include deletion of the offending members account. 
        %p
          Where Glowfori  receives information that a member has been convicted of a criminal offence, the member, when asked will provide a Standard Disclosure Certificate or other similar notice providing evidence of their criminal record (if any) within 28 days. 
          Note that not all convictions are seen as relevant to membership in Glowfori  and each case will be considered individually.

      %li.main_code_nav
        %h3 4. Member Commitments
        %p 
          The following list of member commitments are intended as guidance and do not represent an exhaustive list.

      %li.main_code_nav
        %h3 4.1. Company Representations  
        %p
          Members will:
        %ul
          %li.circle_list  
            %p 
              Create truthful and accurate company profiles which provides a true representation of the capabilities, experience and accreditations of the company
          %li.circle_list
            %p
              Post capabilities being sought from other members which are legitimate, truthful, current and accurate
          %li.circle_list
            %p
              Maintain the company profiles such that they remain a current and true representation of the company

      %li.main_code_nav
        %h3 4.2. Member Communications
        %p Members will:
        %ul
          %li.circle_list
            %p 
              Contact members for the purpose of legitimate business opportunities
          %li.circle_list
            %p 
              Follow members, (Which includes distribution of information or requirements),  for legitimate and current business needs
          %li.circle_list
            %p 
              Exercise discretion when posting “public” messages to ensure they are for legitimate business needs and / or in the interest of the Glowfori community
          %li.circle_list
            %p 
              Ensure all “private” messages are treated with discretion and only used for the purposes of conducting legitimate business between members of the community

      %li.main_code_nav
        %h3 4.3. Member Transactions
        %p Members will:
        %ul
          %li.circle_list
            %p 
              Respond to member messages, queries and requests honestly and in a timely manner
          %li.circle_list
            %p 
              Only make commitments to other members in good faith 
          %li.circle_list
            %p 
              Fulfil all obligations committed to other members to the best of their ability 
          %li.circle_list
            %p 
              Fulfil all obligations in a timely manner
          %li.circle_list
            %p 
              Provide timely and honest information regarding to progress on commitments to other members

      %li.main_code_nav
        %h3 4.4. Glowfori Community Interests
        %p
          Members will:
        %ul
          %li.circle_list
            %p 
              Report any suspected breaches to #{mail_to("tc@glowfori.com")}.
          %li.circle_list
            %p 
              Conduct themselves at all times in the interest of the Glowfori community

      %li.main_code_nav
        %h3 5. Contact us
        %p
          Correspondence in connection with this Code of Conduct should be directed to: #{mail_to("tc@glowfori.com")}.
