- if @redirect_url.present?
  window.location.href = "#{@redirect_url}";
- else
  SignUpStep1.hide_spinner();
  $('.sign_up_step_1 .fields_container').html("#{escape_javascript(render('users/sign_up/step_1_fields'))}");

-if (@focus_field.present?)
  - field = ("#{@focus_field[0]}" == "password_confirmation") ? "password" : "#{@focus_field[0]}"
  FocusInput.init("#{field}");

PasswordStrength.init();