<span>
 <a href="<%= user_path(current_user) %>">
   <%= gravatar_for current_user, size: 40 %>
 </a>

 <h1><%= current_user.full_name %> </h1>

  <% if current_user.company_relationship.present? %>
    <strong>Company:</strong> <%= current_user.company.company_name %> </span>
 <% end %>

  <strong>Nickname:</strong>  <%= current_user.handle %> </span>

<span>
        <%= link_to "view my profile", current_user %>
</span>

<span>
    <%= pluralize(current_user.microposts.count, "Glow") %>
</span>