.c-content
  = render 'm/shared/page_title', title: 'Followers'
  .s-rounded-box.b-followers
    %ul
      %li.b-followers__item
        .b-followers__tools
          .s-dropdown
            %button.s-dropdown__toggler
              .s-dropdown__toggler-icon
            %ul.s-dropdown__list
              %li= link_to 'Glow to Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Send direct message', '#', class: 's-dropdown__item'
              %li= link_to 'Add or remove from list', '#', class: 's-dropdown__item'
              %li.s-dropdown__list-divider
              %li= link_to 'Block Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Report Nick Mayburg', '#', class: 's-dropdown__item'
          %button.s-btn Follow
        .b-followers__info
          .b-followers__name Dustin Titus
          .b-followers__description
            Lorem ipsum dolor sit amet, consectetuer aliquam erat.
      %li.b-followers__item
        .b-followers__tools
          .s-dropdown
            %button.s-dropdown__toggler
              .s-dropdown__toggler-icon
            %ul.s-dropdown__list
              %li= link_to 'Glow to Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Send direct message', '#', class: 's-dropdown__item'
              %li= link_to 'Add or remove from list', '#', class: 's-dropdown__item'
              %li.s-dropdown__list-divider
              %li= link_to 'Block Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Report Nick Mayburg', '#', class: 's-dropdown__item'
          %button.s-btn.s-btn-warning Following
        .b-followers__info
          .b-followers__name Dustin Titus
          .b-followers__description
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
      %li.b-followers__item
        .b-followers__tools
          .s-dropdown
            %button.s-dropdown__toggler
              .s-dropdown__toggler-icon
            %ul.s-dropdown__list
              %li= link_to 'Glow to Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Send direct message', '#', class: 's-dropdown__item'
              %li= link_to 'Add or remove from list', '#', class: 's-dropdown__item'
              %li.s-dropdown__list-divider
              %li= link_to 'Block Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Report Nick Mayburg', '#', class: 's-dropdown__item'
          %button.s-btn.s-btn-warning Following

        .b-followers__info
          .b-followers__name Dustin Titus
          .b-followers__description
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
      %li.b-followers__item
        .b-followers__tools
          .s-dropdown
            %button.s-dropdown__toggler
              .s-dropdown__toggler-icon
            %ul.s-dropdown__list
              %li= link_to 'Glow to Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Send direct message', '#', class: 's-dropdown__item'
              %li= link_to 'Add or remove from list', '#', class: 's-dropdown__item'
              %li.s-dropdown__list-divider
              %li= link_to 'Block Nick Mayburg', '#', class: 's-dropdown__item'
              %li= link_to 'Report Nick Mayburg', '#', class: 's-dropdown__item'

          %button.s-btn Follow
        .b-followers__info
          .b-followers__name Dustin Titus
          .b-followers__description
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.