.b-profile__content#company_user_data
  .b-profile__title User Data
  .b-profile__subtitle

  = form_for(current_user, url: update_user_data_profile_url(current_user), method: :patch, html: { class: 'b-form' }, remote: true) do |f|
    = hidden_field_tag :from, :user_data

    -#    .gravatar_block
      %label{ class: "s-single-label" } Avatar
      .b-company-logo
        .b-company-logo__image
          = gravatar_for current_user, size: 137
        .b-company-logo__tools
          = link_to 'Change', 'http://gravatar.com/emails', 'data-popup' => true, class: 's-btn'

    .fields_container
      = render 'profile/user_data_fields'

    = render 'companies/edit_blocks/submit_block'