= form_for Micropost.new, url: company_microposts_path(@company), remote: true, html: { class: 'b-post-form new_micropost' } do |f|
  .s-textarea
    = f.text_area :content, placeholder: "Share a Glow with your followers", class: 'micropost_content', rows: "4"
  .b-post-form__tools
    = render 'microposts/status_messages'
    .b-post-form__hint.countdown.share_glow_count 140 characters remaining
    = f.submit 'POST', class: 's-btn'
    = image_tag 'spinner.gif', class: 'loading_spinner'