!!!
%html
  %head
    %title 
      = full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

  %body
    .l-main
      = render 'layout_components/header'
      = yield

      = render 'layout_components/footer'
    = javascript_include_tag 'application', media: 'all'
    = javascript_tag "$(function() { #{yield(:javascript_code)} });" if content_for? :javascript_code